---
import Section from "./Section.astro";
const { relativeClass = "" } = Astro.props;
const audienceSections = [
    {
        title: "For Recruitment Agencies",
        subtitle: "Save Time. Find the Best Talent.",
        description:
            "Quickly identify top talent with Human-AI powered pre-screening. Automate CV filtering, save hours per hire, and focus on the best candidates while reducing bias.",
        image: "./images/recruitment-agencies.png",
        cta: "Learn More",
    },
    {
        title: "For Hiring Companies",
        subtitle: "Efficient Hiring. Stronger Teams.",
        description:
            "Make smarter hiring decisions with  Human-AI driven insights. Assess skills, personality, and cultural fit before interviews, ensuring stronger teams and lower turnover.",
        image: "./images/hiring-companies.png",
        cta: "Learn More",
    },
    {
        title: "For Candidates",
        subtitle: "Stand Out. Get Hired Faster.",
        description:
            "Stand out with video applications. Showcase your personality beyond a CV, get noticed faster, and receive  Human-AI feedback to improve your chances of getting hired.",
        image: "./images/job-seekers.png",
        cta: "Learn More",
    },
];
const countries = [
  {
    name: "UK",
    image: "/images/flags/uk.png"
  },
  {
    name: "South Africa",
    image: "/images/flags/south-africa.png"
  },
  {
    name: "Australia",
    image: "/images/flags/australia.png"
  },
  {
    name: "New Zealand",
    image: "/images/flags/new-zealand.png"
  },
  {
    name: "India",
    image: "/images/flags/india.png"
  },
  {
    name: "Pakistan",
    image: "/images/flags/pakistan.png"
  },
  {
    name: "Singapore",
    image: "/images/flags/singapore.png"
  },
  {
    name: "Hong Kong",
    image: "/images/flags/hong-kong.png"
  },
  {
    name: "UAE",
    image: "/images/flags/uae.png"
  },
  {
    name: "Japan",
    image: "/images/flags/japan.png"
  },
  {
    name: "China",
    image: "/images/flags/china.png"
  },
  {
    name: "European Union",
    image: "/images/flags/european-union.png"
  },
];
// #2274ea
// f8fafb

const howItWorks = [
  {
    step: 1,
    title: "Post Job",
    description: "Recruiters create a job posting with custom questions to assess candidates.",
    image: "/images/job_post_1.jpg",  // Replace with your actual image link
    icon: "./images/job-post.png"  // Replace with your actual icon link
  },
  {
    step: 2,
    title: "Submit Video",
    description: "Candidates submit a video application answering specific pre-screening questions tailored to the job, giving Recruiters a deeper insight into their personality, communication, and skills.",
    image: "/images/video-submit.jpg",  // Replace with your actual image link
    icon: "./images/video.png"  // Replace with your actual icon link
  },
  {
    step: 3,
    title: "Screen Candidates",
    description: "Recruiters filter out unsuitable candidates by viewing the video applications therefore saving Recruiters time. Giving immediate feedback via their Dashboard to the Candidate whether successful or unsuccessful.",
    image: "/images/ai-screening.jpg",  // Replace with your actual image link
    icon: "./images/ai-screening.png"  // Replace with your actual icon link
  },
  {
    step: 4,
    title: "Hire Talent",
    description: "If the Candidate is successful with their application, the Recruiter interviews the top selected candidates through the video platform. These are recorded and this makes the hiring decision faster, smarter and based on Human Interaction and not dependent on AI selection. Therefore that 'Gut Instinct' that Recruiters get in the recruitment process will always come into play.",
    image: "/images/interview-hire.jpg",  // Replace with your actual image link
    icon: "./images/interview-hire.png"  // Replace with your actual icon link
  }
];



---

<Section class={`${relativeClass}`}>
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
            <div class="max-w-3xl space-y-4 mx-auto text-center">
                <h2 class="h2 text-slate-800">
                    Time is the Most Valuable Asset in Life and Business
                </h2>
                <p class="text-lg text-slate-500">
                    Once lost, time can never be recovered. Yet, Recruitment
                    Consultants and HR Professionals still spend countless hours
                    sifting through unsuitable CVs. The reality? The “best CVs”
                    don’t always mean the best candidates.
                </p>
            </div>
        </div>
    </div>
</Section>



<section class="bg-slate-50">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
            <div class="max-w-3xl space-y-4 mx-auto text-center mb-8">
                <h2 class="h2 text-slate-800">
                    Hire Smarter and Build Stronger Teams
                </h2>
                <p class="text-lg text-slate-500">
                    You need a faster, more efficient hiring process. <br> Our Human - AI Synergy Powered tools can help.
                </p>
            </div>

            <div
                class="max-w-sm mx-auto sm:max-w-none grid gap-12 sm:grid-cols-2 md:grid-cols-3 sm:gap-x-6 sm:gap-y-8 items-start "
                data-aos-id-testimonials=""
            >
                <!-- 1st Testimonial -->

                {
                    audienceSections.map((audSec) => (
                        <article
                            class="   h-full flex flex-col bg-white p-6 shadow-xl aos-init aos-animate rounded-2xl"
                            data-aos="fade-up"
                            data-aos-anchor="[data-aos-id-testimonials]"
                        >
                            <div class="mb-4">
                                <img
                                    style="width:50px"
                                    src={audSec.image}
                                    alt=""
                                />
                            </div>
                            <div class=" glow">
                                <p class="text-blue-600 text-sm font-semibold block mb-2">
                                    {audSec.title}
                                </p>
                                <p class="text-black text-xl font-medium glow mb-4">
                                    {audSec.subtitle}
                                </p>
                                <p class="text-black  font-normal mb-4">
                                    {audSec.description}
                                </p>
                                <p>
                                    <span class="tracking-normal font-semibold text-blue-600 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out">
                                        {audSec.cta} -&gt;
                                    </span>
                                </p>
                            </div>
                        </article>
                    ))
                }
            </div>
        </div>
    </div>
</section>

<section>

    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-8 md:py-16">

            <article class="max-w-sm mx-auto space-y-5 md:max-w-none md:flex md:items-center md:space-y-0 md:space-x-8 lg:space-x-16">
                <!-- Image -->
                <a class="relative block group overflow-hidden md:w-1/2 aos-init aos-animate" href="blog-post.html" data-aos="fade-down">
                    <img class="w-full aspect-16/9 md:aspect-27/17 object-cover group-hover:scale-105 transition duration-700 ease-out" src="./images/ai-powered-recruitment-transformation.png" width="540" height="340" alt="News 01">
                   
                </a>
                <!-- Content -->
                <div class="md:w-1/2 aos-init aos-animate" data-aos="fade-up">
                    <header>
                        <h2 class="h4 md:text-4xl lg:text-5xl  mb-3">
                            <span class="text-black " >Transforming Recruitment with  Human-AI Synergy Powered Precision</span>
                        </h2>
                    </header>
                    <p class="text-lg text-slate-500">Welcome to YourCVVideo.com Ltd—a cutting-edge SaaS platform built specifically for recruitment agencies and hiring companies. Our Human-AI driven pre-screening tool revolutionizes the hiring process, saving recruiters 2–3 hours daily by eliminating time spent on unqualified CVs and optimizing the selection process.

                    </p>
                    
                </div>
            </article>

        </div>

    </div>
</section>


<section>

    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-8 md:py-16 border-t">

            <article class="max-w-sm mx-auto space-y-5 md:max-w-none md:flex md:items-center md:space-y-0 md:space-x-8 lg:space-x-16">
          
                <!-- Content -->
                <div class="md:w-1/2 aos-init aos-animate" data-aos="fade-up">
                    <header>
                        <h2 class="h4 md:text-4xl lg:text-5xl  mb-3">
                            <span class="text-black " >How Our  Human-AI Synergy Powers Smarter Hiring</span>
                        </h2>
                    </header>
                    <p class="text-lg text-slate-500">Our Human-AI analyses video applications and CVs to identify top candidates based on skills, communication, and cultural fit. It automates screening, reduces recruiter workload, and ensures fairer hiring by focusing on qualifications, not just keywords. Recruiters get Human-AI  driven insights while keeping full control over final decisions.

                    </p>
                    
                </div>

                      <!-- Image -->
                      <a class="relative block group overflow-hidden md:w-1/2 aos-init aos-animate" href="blog-post.html" data-aos="fade-down">
                        <img class="w-full aspect-16/9 md:aspect-27/17 object-cover group-hover:scale-105 transition duration-700 ease-out" src="./images/ai-smarter-hiring.jpg" width="540" height="340" alt="News 01">
                       
                    </a>
            </article>

        </div>

    </div>
</section>


<section class="relative">

    <div class="absolute inset-0 bg-slate-50 pointer-events-none mb-64 md:mb-80" aria-hidden="true"></div>

    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-8 md:py-16">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12">
                <h2 class="h2 text-slate-800 mb-4">Streamline Your Recruitment with Human-AI Synergy</h2>
                <p class="text-xl text-slate-500">Experience seamless recruitment with YourCVVideo. Post jobs, receive CVVideo, and screen candidates efficiently, saving time and hiring smarter.

                </p>
            </div>
           

            <!-- Section content -->
            <div class="max-w-3xl mx-auto" x-data="{ tab: '1' }">

                <!-- Tabs buttons -->
                <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 pb-12">

                    {howItWorks.map((h=>( 
                    <button 
                    key={h.step}
                    class="text-center "
                    :class={`tab !== '${h.step}' ? 'opacity-50 hover:opacity-75': 'transition-opacity text-blue-600'`}
                   
                    @click={`tab = '${h.step}'`
                    }>
                        <div class="inline-flex  mb-3">
                            <img src={h.icon} width="46" height="46" alt="">
                        </div>
                        <div class="md:text-lg leading-tight font-semibold "
                        :class={`tab == '${h.step}' ? 'text-blue-600':'text-slate-800'`}
                        >{h.title}</div>
                    </button>)))}
                  
                </div>

                <!-- Tab items -->
                <div class="relative flex flex-col aos-init aos-animate" data-aos="fade-up">
                    {howItWorks.map((h=>(   
                         <div  x-show={`tab === '${h.step}'`} x-transition:enter="transition ease-in-out duration-700 order-first" x-transition:enter-start="opacity-0 -translate-y-16" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-300 absolute" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-16" class="" style="display: none;">
                            <p class="text-center pb-8 text-lg text-slate-800">{h.description}</p>
                        <img class="mx-auto shadow-2xl" src={h.image} width="768" height="474" alt="Features home 01">
                    </div>
                    )))}
                  
                 
                   
                </div>

            </div>

        </div>
    </div>
</section>


<section class="bg-white">
    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20 border-t border-slate-200">

            <!-- Section content -->
            <div class="relative max-w-3xl mx-auto text-center">

               
                <!-- Section Heading and Description -->
                <div class="relative">
                    <h2 class="h2 font-playfair-display text-slate-800 mb-4">
                        Human + Artificial Intelligence = Smarter Hiring
                    </h2>
                    <p class="text-xl text-slate-500 mb-8">
                        We combine cutting-edge Human-AI Synergy with the power of Human Insight, enhancing personal connections and making recruitment faster, fairer, and more effective.
                    </p>

                    <!-- Call to Action Buttons -->
                    <div class="flex justify-center gap-6">
                        <!-- For Recruiters -->
                        <a class="btn text-white bg-blue-600 hover:bg-blue-700 group py-3 px-6  text-lg font-semibold transition duration-300 ease-in-out" href="/recruiters">
                            Start Hiring Smarter
                            <span class="tracking-normal text-blue-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">→</span>
                        </a>

                        <!-- For Candidates -->
                        <a class="btn text-white bg-slate-700 hover:bg-slate-800" href="/candidates">
                            Create Your CVVideo
                            <span class="tracking-normal text-white group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">→</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<section class="bg-slate-50">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
            <div class="max-w-3xl space-y-4 mx-auto text-center mb-8">
                <h2 class="h2 text-slate-800">Expanding Across the Globe</h2>
                <p class="text-lg text-slate-500">
                    Our Human-AI Synergy driven Recruitment Solutions will transform hiring across the Globe, helping businesses in multiple countries find top talent efficiently. Whether you're a Recruiter in the UK or Africa, a Hiring Manager in Europe or Australasia, or a Candidate in Asia or America, our SaaS platform streamlines the recruitment process, ensuring fair and data-driven hiring decisions—anytime, anywhere.
                </p>
            </div>

            <div
                class="flex flex-wrap items-center justify-center"
                data-aos-id-clients=""
            >
            {countries.map((country=> 
                ( <div
                    class="ml-4 md:ml-4 aos-init aos-animate"
                    data-aos="fade-up"
                >
                    <img width="75px" src={country.image} alt={country.name}>
                </div>)
            ))}
               

               
            </div>
           
           <div class="text-center mt-6 text-sm text-slate-500">
              <p>We are proud to serve Recruiters and Candidates across the Globe. Join Us Today as we continue to expand and transform the Global Hiring Landscape.</p>
           </div>
            
        </div>
    </div>
</section>


<section class="">
                <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="py-12 md:py-20">

                        <div class="relative max-w-3xl mx-auto text-center">

                          

                            <div class="relative">
                                <h2 class="h2 font-playfair-display text-slate-800 mb-4">Join the Recruitment Revolution Today!</h2>
                                <p class="text-xl text-slate-500 mb-8">Take the next step in transforming the Recruitment Process —whether you're a Recruiter, Employer, Hiring Manager or Candidate, YourCVVideo is built to help you connect faster, smarter, and more effectively.</p>
                                <div>
                                    <a class="btn text-white bg-blue-600 hover:bg-blue-700 group" href="/login">
                                        Get Started Now <span class="tracking-normal text-blue-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
</section>





