---
import Logo from "./logo.astro"
import MobileMenu from "./mobile-menu.astro"


const menus =[
    // {
    //     label: "About us",
    //     uri: "/about-us",
    //     loc: "l",
    //     hr: false,
    //     subs: [],
    // },
    {
        label: "Recruiters",
        uri: "/about-us",
        loc: "l",
        hr: false,
        //  "Recruiter", "Pricing", "Request Free Demo", "Login / Register", ""
        subs: [
            {
                label: "Recruiter",
                uri: "/recruiter-more",
            },
            {
                label: "Pricing",
                uri: "/pricing",
            },
            {
                label: "Request Free Demo",
                uri: "/request-free-demo",
            },
            {
                label: "Competition",
                uri: "/recruiter-competition",
            },
            
            {
                label: "Login / Register",
                uri: "/login",
            },
            {
                label: "My Dashboard",
                uri: "/",
            },
        ],
    },
    {
        label: "Candidates",
        loc: "l",
        uri: "/about-us",
        hr: false,

        subs: [
            {
                label: "Candidate",
                uri: "/candidate",
            },
            {
                label: "Featured Recruiters",
                uri: "/featured-recruiters",
            },
            {
                label: "Browse Jobs",
                uri: "/browse-jobs",
            },
            {
                label: "Login / Register",
                uri: "/login",
            },
            {
                label: "My Dashboard",
                uri: "/",
            },
        ],
    },
    {
        label: "Contact us",
        loc: "l",
        uri: "/contact-us",
        hr: false,
        subs: [],
    },
    {
        label: "Login",
        loc: "r",
        uri: "/login",
        hr: false,
        subs: [],
    },
    {
        label: `Register Now <span class="tracking-normal text-blue-600 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>`,
        loc: "r",
        uri: "/register",
        hr: true,
        subs: [],
    },
];
---
git 
<header class="absolute w-full z-30 bg-white">
    <div class="max-w-6xl mx-auto px-5 sm:px-6">
      <div class="flex items-center justify-between h-16 md:h-20">

        {/* Site branding */}
        <div class="shrink-0 mr-4">
          <Logo />
        </div>

        {/* Desktop navigation */}
        <nav class="hidden md:flex md:grow">
 
            <!-- Left-Side Navigation -->
            <ul class="flex grow justify-start flex-wrap items-center">
                {
                    menus.map(
                        (item:any) =>
                            item.loc === "l" && (
                                <li
                                    class="relative"
                                    {...(item.subs.length > 0
                                        ? { "x-data": "{ open: false }" }
                                        : {})}
                                    {...(item.subs.length > 0
                                        ? {
                                              "@mouseenter": "open = true",
                                              "@mouseleave": "open = false",
                                          }
                                        : {})}
                                >
                                    <a
                                        class="font-medium text-slate-800 hover:text-blue-600 dark:text-slate-400 dark:hover:text-blue-600 px-3 lg:px-5 py-2 flex items-center transition duration-150 ease-in-out"
                                        href={item.uri}
                                    >
                                        {item.label}
                                        {item.subs.length > 0 && (
                                            <svg
                                                class="w-3 h-3 fill-current text-slate-400 dark:text-slate-500 cursor-pointer ml-1 shrink-0"
                                                viewBox="0 0 12 12"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path d="M10.28 4.305L5.989 8.598 1.695 4.305A1 1 0 00.28 5.72l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z" />
                                            </svg>
                                        )}
                                    </a>
                                    {item.subs.length > 0 && (
                                       <ul
                            class="origin-top-right absolute top-full right-0 w-40 bg-white py-2 ml-4 rounded-sm shadow-lg"
                            x-show="open"
                            x-transition:enter="transition ease-out duration-200 transform"
                            x-transition:enter-start="opacity-0 -translate-y-2"
                            x-transition:enter-end="opacity-100 translate-y-0"
                            x-transition:leave="transition ease-out duration-200"
                            x-transition:leave-start="opacity-100"
                            x-transition:leave-end="opacity-0"
                            x-cloak
                        >
                                            {item.subs.map((sub:any) => (
                                                <li>
                                                    <a href={sub.uri} class="font-medium text-sm text-slate-600 hover:text-blue-600 flex py-2 px-5 leading-tight">{sub.label}</a>
                                                </li>
                                            ))}
                                        </ul>
                                    )}
                                </li>
                            ),
                    )
                }
            </ul>
            
            <!--  Right-Side Navigation -->
            <ul class="flex grow justify-end flex-wrap items-center">
                {
                    menus.map(
                        (item:any) =>
                            item.loc === "r" && (
                                <li>
                                    <a
                                        class="font-medium text-slate-800 hover:text-blue-600 dark:text-slate-400 dark:hover:text-blue-600 px-3 lg:px-5 py-2 flex items-center transition duration-150 ease-in-out"
                                        href={item.uri}
                                        aria-label={item.label}
                                        set:html={item.label}
                                    />
                                </li>
                            ),
                    )
                }
            </ul>
            
            
        </nav>

        <MobileMenu />

      </div>
    </div>
  </header>
